input {
  udp {
    codec => json
    port => 10001
    queue_size => 10000
    workers => 10
    type => default_log_type
  }
}

filter {
    grok {
        match => { "message" => "\(%{GREEDYDATA:session_id}\) %{WORD:logtype}: %{GREEDYDATA:msg}" }
    }
}

output {
  csv {
    fields => ["@timestamp", "session_id", "logtype", "msg"]
    path => "./cubesem.log.txt"
  }
}
